@page :left {
 margin-left: 2cm;
 margin-right: 1cm;
}

@page :right {
 margin-left: 1cm;
 margin-right: 2cm;
}

#wrapper {
 width: 100%;
 background-color: #fff;
 border: none;
}

h1 {
 width: 100%;
}

p {
 margin: 2pt 5pt;
}

table {
 border-spacing: 14pt 1pt;
}

dt {
 margin: 1pt;
}

#mash, #filter, #boil, #fermentation, #bottling, #notes, #judgement {
 width: 100%;
 background-color: #fff;
}

#batch .left, #batch .middle {
 background-color: #fff;
}

#fermentables {
 width: 60%;
}

#mashsteps {
 margin-left: 60%;
}

/* Notes should have extra padding, so notes can be added after printing */
#notes table {
 display: block;
}

#judgement {
 display: block;
}

