#fermentables dt {
	display: inline-block;
	width: 30%;
}
#fermentables dd {
	display: inline-block;
	margin: 0;
	width: 15%;
}
#fermentables .name {
	display: block;
}
#fermentables .color,
#fermentables .weight {
	width: 20%;
	display: inline-block;
	font-size: 80%;
	padding-top: .2em;
}

